/**
* NETSQURE PRIVATE LIMITED - 2022 - All Rights Reserved - www.netsqure.com
*/

// Variable overrides first
$primary: #4ff4ff;
$secondary: #1c1c1c;
$white: #fff;
$enable-rounded: false;
$card: #0d2a47;

// Import Bootstrap from node_modules
@import "../../node_modules/bootstrap/scss/bootstrap";

/* Regular FlatIcon RR */
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");

/* Flaticon Brands */
@import url("https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css");

// Import Flaticon SR
@import url("https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css");

//Schabo Font
@font-face {
  font-family: "Schabo";
  src: url(../fonts/SCHABO-Condensed.woff) format("woff"),
    url(../fonts/SCHABO-Condensed.woff2) format("woff2");
  font-display: auto;
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
}

:root {
  --primary-color: #f4bc67;
  --secondary-color: #394c43;
  --primary-dark: #142420;
  --main-font: "Schabo", sans-serif;
  --para-font: "Space Grotesk", sans-serif;
}

// Global CSS

body {
  font-family: var(--main-font);
  overflow-x: hidden !important;
  background: rgb(39, 14, 9);
  background: linear-gradient(
    90deg,
    rgba(39, 14, 9, 1) 0%,
    rgba(51, 21, 11, 1) 100%
  );
}

.header-bg {
  background: rgb(39, 14, 9);
  background: linear-gradient(
    90deg,
    rgba(39, 14, 9, 1) 0%,
    rgba(51, 21, 11, 1) 100%
  );
}

#heroDiv,
#about-us,
#media-partner {
  padding-top: 0;
}
.hero-section {
  padding-top: 0;
}

section {
  padding-top: 3rem;
  small {
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 10px;
  }
  a {
    text-decoration: none !important;
    color: white !important;
  }
  h3 {
    font-weight: 600;
    text-transform: uppercase;
  }
  .tag {
    padding: 5px 25px;
    background-color: var(--primary-color);
    line-height: 1;
    color: var(--primary-dark);
    text-transform: uppercase;
  }
}

.secondary-section {
  padding-top: 0 !important;
  small {
    color: var(--card);
  }
  h2 {
    color: var(--primary-color);
  }
}

.swiper-pagination-bullet {
  height: 15px;
  width: 15px;
  background-color: var(--primary-color);
  border-radius: 0;
  bottom: 0;
}

.btn {
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: 0.125em;
  --curve-size: 0.5em;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
  color: var(--color);
  /* use position: relative; so that BG is only for .btn */
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: 0.5em 1.5em;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  clip-path: polygon(
    /* Top-left */ 0% var(--curve-size),
    var(--curve-size) 0,
    /* top-right */ 100% 0,
    100% calc(100% - var(--curve-size)),
    /* bottom-right 1 */ calc(100% - var(--curve-size)) 100%,
    /* bottom-right 2 */ 0 100%
  );
  transition: color 250ms;
}

.btn::after,
.btn::before {
  content: "";
  position: absolute;
  inset: 0;
}

.btn::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%;
  }

  50% {
    background-position: 70% 100%;
  }

  100% {
    background-position: 31% 0%;
  }
}

.btn::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
    /* Top-left */ var(--border-width)
      calc(var(--curve-size) + var(--border-width) * 0.5),
    calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
  );
  transition: clip-path 500ms;
}

.btn:where(:hover, :focus)::after {
  clip-path: polygon(
    /* Top-left */ calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - var(--border-width)) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width))
  );
  transition: 200ms;
}

.btn:where(:hover, :focus) {
  color: #fff;
}
