/*
COPYRIGHT 2020 - NETSQURE TECHNOLOGIES PVT. LTD. ALL RIGHTS RESERVED
*/

@import "variables";

// Plugin
@import "plugin/modal";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

.hero-font {
  font-family: "Bank Sans", sans-serif;
  text-transform: uppercase;
  font-size: 50px;
}
.main-font {
  font-family: var(--main-font);
}
.no-border {
  border: 0 !important;
}
.z-3 {
  z-index: 3;
}
.z-2 {
  z-index: 2;
}
.z-1 {
  z-index: 1;
}
.pages-ets {
  padding-top: 120px;
}
.hero-page {
  padding-top: 10rem;
}
hr {
  width: 100%;
  flex-shrink: 100000000000;
}

// Front Page CSS
@import "front-page/hero";
@import "front-page/partners";
@import "front-page/stats";
@import "front-page/about";
@import "front-page/meet";
@import "front-page/feature";
@import "front-page/meetings";
@import "front-page/client-testimonials";
@import "front-page/speakers";
@import "front-page/testimonials";
@import "front-page/gallery";
@import "front-page/contact";
@import "footer";

// Agenda Page
@import "agenda/agenda-page.scss";

// Contact Page
@import "contact/contact-page.scss";

// Responsive CSS
@import "responsive/mobile";
@import "responsive/tablet";
@import "responsive/laptop";

// Training page CSS
// @import "trainings/certificates";
